[Unit]
Description=scitq
After=multi-user.target

[Service]
Type=simple
KillSignal=SIGTERM
TimeoutStopSec=1h
Restart=always
RestartSec=5
Environment=HOME=/root
ExecStart=/usr/local/bin/scitq-server -config /etc/scitq.yaml

[Install]
WantedBy=multi-user.target